.userjs-rcp-item a {
  display: block !important;
  border-radius: var(--border-radius-base, 2px);
}
body.skin-monobook .userjs-rcp-item a:hover,
body.skin-vector .userjs-rcp-item a:hover {
  text-decoration: none;
}
body.skin-monobook .userjs-rcp-item a:hover .userjs-rcp-item-title,
body.skin-vector .userjs-rcp-item a:hover .userjs-rcp-item-title {
  text-decoration: underline;
}
.userjs-rcp-item.userjs-rcp-item-highlight a {
  background-color: var(--background-color-content-removed, #ffe49c);
}
.userjs-rcp-item .userjs-rcp-item-title {
  hyphens: auto;
}
.userjs-rcp-item .userjs-rcp-timestamp {
  color: var(--color-subtle, #54595d);
  font-size: var(--font-size-x-small, x-small);
  display: block;
}
.userjs-rcp-item-title::before,
.userjs-rcp-item-title::after {
  display: inline-block;
  font-size: smaller;
}
.userjs-rcp-item-title::after {
  content: '\00a0(' attr(data-rcp-diffsize) ')';
  color: var(--color-disabled, #a2a9b1);
}
.userjs-rcp-diff-large .userjs-rcp-item-title::after {
  font-weight: bold;
}
.userjs-rcp-diff-positive .userjs-rcp-item-title::after {
  color: var(--color-content-added, #006400);
}
.userjs-rcp-diff-negative .userjs-rcp-item-title::after {
  color: var(--color-content-removed, #8b0000);
}
.userjs-rcp-item-new .userjs-rcp-item-title::before {
  content: attr(data-rcp-indicator-new);
  font-weight: bold;
  margin-inline-end: 0.5em;
  color: var(--color-base, #202122);
}
.userjs-rcp-item-highlight .userjs-rcp-item-title::before {
  content: attr(data-rcp-indicator-highlight);
  display: inline-block;
  font-size: smaller;
  font-weight: bold;
  margin-inline: 0.25em;
  padding: 0 0.25em;
  vertical-align: middle;
  color: var(--background-color-content-removed, #ffe49c);
  background-color: var(--color-destructive, #bf3c2c);
  border-radius: var(--border-radius-base, 2px);
}
.userjs-rcp-options-button {
  background: transparent url(/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.svg ) no-repeat center top;
  border: 0;
  min-height: 16px;
  min-width: 16px;
  cursor: pointer;
  float: right;
}
.userjs-rcp-options-button:hover {
  background-position: center -16px;
}
body.skin-vector .userjs-rcp-options-button,
body.skin-vector-2022 .userjs-rcp-options-button {
  margin-block-start: 8px;
}
#p-navigation .vector-menu-heading {
  display: flex !important;
}
#p-unpatrolled,
#p-unpatrolled-label {
  display: block !important;
}
#p-unpatrolled .minerva-icon {
  display: none;
}
#n-userjs-rcp-emptylist {
  cursor: default;
}
